@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import 'style';
@import 'style_client';
@import 'style_consaltant';
@import 'style_agent';
@import 'style_admin';